<div class="form-signin text-center">
  <form [formGroup]="formulario!" (ngSubmit)="login()">
    <img class="mb-4" src="assets/imagenes/logo.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Iniciar Sección</h1>

    <div class="form-floating">
      <input type="usuario" class="form-control" id="floatingInput" placeholder="usuario1" formControlName="usuario">
      <label for="floatingInput">Usuario</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="contrasenia">
      <label for="floatingPassword">Contraseña</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Recordar usuario
      </label>
    </div>
    <a [routerLink]="['/home']" ><button class="w-100 btn btn-lg btn-primary" type="submit">Siguiente</button></a>
    <p class="mt-5 mb-3 text-muted">&copy; 2020–2022</p>
  </form>
</div>
