<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
        </div>

        <div class="card rounded-3 mb-4">
          <div class="card-body p-4" *ngFor="let item of items">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src={{item.producto.imagen}}
                  class="img-fluid rounded-3" alt="Cotton T-shirt">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">Basic T-shirt</p>
                <p><span class="text-muted">Nombre: </span>{{item.producto.nombre}} <span class="text-muted">Descripcion: </span>{{item.producto.descripcion}} <span class="text-muted">Cantidad: </span>{{item.cantidad}}</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">${{item.precioCompra}}</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="#!" class="text-danger"><i class="bi bi-trash"></i></a>
              </div>
            </div>
          </div>
        </div>

        <!-- EL TOTAL SIN DESCUENTO-->
    <div class="card mb-4 ">
        <div class="card-body p-4 d-flex flex-row">
          <p class="mb-0 me-5 d-flex align-items-center">
          <span class="small text-muted me-2">Precio total:</span> <span
          class="lead fw-normal float-end">${{precioSinDescuento}}</span>
          </p>
        </div>
    </div>

        <div class="card mb-4">
          <form [formGroup]="formularioCupon!">
          <div class="card-body p-4 d-flex flex-row">
            <div class="form-outline flex-fill">

              <input type="text" id="form1" class="form-control form-control-lg" [(ngModel)]="codigoCuponProveedor" formControlName="cuponProveedor">
              <!--<label class="form-label" for="form1">Discound code</label>-->
            </div>
            <button type="button" class="btn btn-outline-warning btn-lg ms-3" (click)="guardarCupon()">Apply</button>
          </div>
        </form>
        </div>

        <div class="card mb-4">
          <form [formGroup]="formularioMedio!">
          <div class="card-body p-4 d-flex flex-row">
            <div class="form-outline flex-fill">
              <option selected>Medios de pago</option>
              <select id="inputState" class="form-select" formControlName="medioDePago">
                <option value="EFECTIVO" >Efectivo</option>
                <option value="TARJETA_CREDITO" >Tarjeta de crédito</option>
                <option value="TARJETA_DEBITO" >Tarjeta de débito</option>
              </select>

            </div>
            <button type="button" class="btn btn-outline-warning btn-lg ms-3" (click)="guardarMedioDePago()">Elegir</button>
          </div>
        </form>
        </div>

     <!-- EL TOTAL CON DESCUENTO-->
     <div class="card mb-4 ">
      <div class="card-body p-4 d-flex flex-row">
        <p class="mb-0 me-5 d-flex align-items-center">
        <span class="small text-muted me-2">Precio total con descuentos:</span> <span
        class="lead fw-normal float-end">${{precioConDescuento}}</span>
        </p>
      </div>
  </div>

        <div class="card">
          <div class="card-body">
            <button type="button" class="btn btn-warning btn-block btn-lg">Proceed to Pay</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
